@import "tailwindcss";
@plugin "daisyui";

.active {
  color: rgb(191, 255, 0);
  text-decoration: underline;
  font-weight: 600;
}
.navbar li {
  font-weight: 600;
}
.navbar li :hover {
  text-decoration: underline;
}
